@import url("site_libs/font-awesome-4.5.0/css/font-awesome.css");
@import url("site_libs/bootstrap-3.3.5/css/bootstrap.css");

#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}


pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 12px;
  line-height: 28px;
  padding: 10px 0 10px 60px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  width: 106%;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}